<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>  
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Daniel Careers
      </h1>

      <p>Your application for the role of <b>{{job['title']}}</b> at Jovian has been submitted!</p>
      
      <b>Full Name</b>
      <div class="mb-2">{{job['title']}}</div>
      
      <b>Full Name</b>
      <div class="mb-2">{{job['location']}}</div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
