<nav class="navbar shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Jovian
    </a>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/jobs">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>

      <div class="d-flex">
        <a class="btn btn-outline-primary me-2" href="/login">Login</a>
        <a class="btn btn-primary" href="/signup">Sign Up</a>
      </div>
  </div>
</nav>